body {
    background-color: blueviolet;
}
#side-nav {
    background: white;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding-left: 0;
    padding-right: 2em;
}
#side-nav > ul {
    list-style-type: none;
    padding-left: 0;
}
.nav-item {
    padding-right: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 3em;
    border-left: 1em solid white;
}
.nav-link {
    color: inherit;
    text-decoration: none;
    border: none;
    background: inherit;
}
.nav-link:hover {
    cursor: pointer;
}
.nav-link:focus {
    outline: none;
}
#history-link {
    border-left: 1em solid gray;
    background-color: #efefef;
}