/* IMPORTANT NOTES:

Regarding Fonts:
    While other Roboto fonts are in the fonts folder, only import ones 
    if you need them. This will improve load times (even if they are small
    differences), and make life easier.
    
    Also, I am using Roboto Light as my main font, and Roboto Regular as
    a bold font. Obviously, Roboto Italic is being used for italics.

Regarding the side bar(#side-nav)
    Roboto is intentionally not used (Was too light for the side.)
*/

/*beginning of font imports*/
@font-face {
    font-family: Roboto;
    src: url("fonts/Roboto-Light.ttf");
}
/*end of font imports*/

/*main styles (for the big elements-- e.g. body, #main, etc.)*/
#main {
    z-index: -1;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 17em;
    font-family: Roboto;
    overflow-y: hidden;
}

.visited::-webkit-scrollbar { 
  	display: none;
}
.site {
	background: white;
	margin: 1em;
	display: inline-flex;
	justify-content: space-between;
	padding: .05em 1em;
	font-size: 1.4em;
	border-radius: .4em;
}
.site-center-element {
	padding-left: 1em;
	padding-right: 1em;
}
.site > img {
	height: 32px;
	position: relative;
	top: -50%;
	transform: translateY(50%);
}
/*beginning of timeline styles*/
.visited {
    position: fixed;
    right: 0;
    top: 6em;
    bottom: 6em;
    left: 17em;
    background-color: #95a5a6;
	overflow-x: scroll;
	white-space:  nowrap;
}
.slider {
    background-color: #8e44ad;
    width: 9em; /*the slider-icons are each 2.5em, and they are spaced by 2.5em.*/
    border-radius: 25px;
    height: 3.5em;
    padding-top: .2em;
    padding-bottom: .2em;
    margin: 6em;
    position: relative;
    top: -100%;
    transform: translateY(-12.5%);
}
.slider-icon {
    height: 5em;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slider-track {
    position: absolute;
    bottom: .5em;
    width: 98%;
    height: 5em;
    border-radius: 25px;
    background: #eee;
}
/*end of timeline styles*/

/*beginning of top nav styles*/
.top-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 17em;
    display: flex;
	height: 6em;
    z-index: 5;
    justify-content: space-between;
}
.top-nav > * {
    display: inline;
}
.tab {
    font-family: Roboto;
    border: none;
    padding: 1.5em 2.5em;
    font-size: 1.4em;
    background-color: white;
}
#clearHistory {
    border: none;
    background-color: #8e44ad;
    color: white;
    font-size: 1.4em;
    padding: 1.5em 3em;
}
#clearHistory:focus {
    outline: none;
}
.currTab {
    background-color: #efefef;
}
.top-nav > form {
    padding-right: 3em;
    padding-left: 1em;
    position: relative;
    top: -  50%;
}
.top-nav > form > * {
    position: relative;
/*    top: -1000%;*/
    transform: translateY(75%);
}
#search {
    padding: .3em;
    border-radius: 10px;
    border: 2px solid #ddd;
    margin-left: .5em;
}
#search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    color: #efefef;
}
#search-icon {
    height: 1.5em;
    transform: translateY(125%);
}
#search:focus {
    outline: none;
}
#menu-icon {
    height: 4em;
    transform: translateY(20%);
    display: none;
}
#menu-icon:hover {
    cursor: pointer;
}
/*end of top nav styles*/
 
/*beginning of side bar navigation styles*/
#side-nav {
    background: white;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding-left: 0;
    padding-right: 2em;
    width: 15em;
}
#side-nav > ul {
    list-style-type: none;
    padding-left: 0;
}
.nav-item {
    padding-right: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 3em;
    border-left: 1em solid white;
}
.nav-link {
    color: inherit;
    text-decoration: none;
    border: none;
    background: inherit;
}
.nav-link:hover {
    cursor: pointer;
}
.nav-link:focus {
    outline: none;
}
#history-link {
    border-left: 1em solid gray;
    background-color: #efefef;
}
#side-nav > ul > li > button {
    background-color: inherit;
    border: 0;
    color: #555;
    cursor: pointer;
    font: inherit;
    margin: .4em 0;
    padding: 0;
}
/*end of side bar navigation styles*/
/*beginning of credit styles*/
.credit-item {
    padding: 1em;
}
/*end of credit styles*/


/*media queries*/
@media (max-width: 1100px) {
    .collapsible {
        display: none;
        position: absolute;
        transform: translateY(25%); 
    }
    .tab {
        width: 100%;
    }
}
@media (max-width: 730px) {
    .top-nav {
        display: flex;
        justify-content: space-between;
    }
    #clearHistory {
        padding: 1.5em .4em;
    }
}