/* IMPORTANT NOTES:

Regarding Fonts:
    While other Roboto fonts are in the fonts folder, only import ones 
    if you need them. This will improve load times (even if they are small
    differences), and make life easier.
    
    Also, I am using Roboto Light as my main font, and Roboto Regular as
    a bold font. Obviously, Roboto Italic is being used for italics.

Regarding the side bar(#side-nav)
    Roboto is intentionally not used (Was too light for the side.)
*/

/*beginning of font imports*/
@font-face {
    font-family: Roboto;
    src: url("fonts/Roboto-Light.ttf");
}
/*end of font imports*/

/*main styles (for the big elements-- e.g. body, #main, etc.)*/
#main {
    z-index: -1;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 17em;
    font-family: Roboto;
}

/*beginning of ui element styles*/
.slider {
    background-color: #2c3e50;
    width: 9em; /*the slider-icons are each 2.5em, and they are spaced by 2.5em.*/
    border-radius: 25px;
    height: 3.5em;
    padding-top: .2em;
    padding-bottom: .2em;
    margin: 6em;
    position: relative; 
    top: 50%;
    transform: translateY(-50%);
}
.slider-icon {
    height: 5em;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slider-track {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 98%;
    height: 5em;
    border-radius: 25px;
    background: #eee;
}
/*end of ui element styles*/

/*beginning of side bar navigation styles*/
#side-nav {
    background: white;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding-left: 0;
    padding-right: 2em;
    width: 15em;
}
#side-nav > ul {
    list-style-type: none;
    padding-left: 0;
}
.nav-item {
    padding-right: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 3em;
    border-left: 1em solid white;
}
.nav-link {
    color: inherit;
    text-decoration: none;
    border: none;
    background: inherit;
}
.nav-link:hover {
    cursor: pointer;
}
.nav-link:focus {
    outline: none;
}
#history-link {
    border-left: 1em solid gray;
    background-color: #efefef;
}
#side-nav > ul > li > button {
    background-color: inherit;
    border: 0;
    color: #555;
    cursor: pointer;
    font: inherit;
    margin: .4em 0;
    padding: 0;
}
/*end of side bar navigation styles*/
/*beginning of credit styles*/
.credit-item {
    padding: 1em;
}
/*end of credit styles*/